body {
  background-color: #242424;
  margin: 0;
  height: 100%;
}

.main-container {
  color: #f2f2f2;
  display: flex;
  max-height: 100vh;
}

.sidebar{
  min-width: 200px;
  width: 30vw;
  max-height: 100vh;
  overflow: auto;
  height: 100vh;
  background-color: #1b1b1b;
}

.main-content{
  flex: 1;
  background-color: #444;
}

.lvl-campaign{
  padding-left: 30px !important;
}

.lvl-variation{
  padding-left: 40px !important;
}

#header-refresh-list{
  background-color: #242424;
  color: #f2f2f2;
  cursor: pointer;

  .hovering{
    display: none;
  }

  .hovering{
    display: none;
  }

  &:hover{
    .normal{
      display: none;
    }
    .hovering{
      display: block;
      animation: slide-from-right .3s forwards;
    }
  }
}

.start-stop-test{
  float: right;
}

@keyframes slide-from-right {
  from{
    transform: translate(30px, 0)
  }
  to{
    transform: translate(0, 0)
  }
}

.header{
  background-color: #242424;
  padding: 10px;
  height: 28px;

  h1{
    margin: 0;
    font-size: 18px;

    span{
      font-weight: 400;
    }
  }
  
  .con-info{
    float:right;
		font-weight: 500;
		color: #333;
		border: 1px solid;
		padding: 1px 5px;
		font-size: 12px;
		border-radius: 3px;
		line-height: 1.7em;
    margin-top: 2px;

		&.is-con{
			color: green;
		}

		&.not-cont{
			border-color: lightcoral;
      color: lightcoral;
		}
	}
}

.main-content-wrap{
  padding: 10px;
  line-height: 1.7;
}

.variation-details{
  h1{
    margin: 0;
    line-height: 1;
  }

  .a-copy{
    float: right;
  }
}

.file-stats {
	margin: 30px 0;

	> div {
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 15px 10px 10px;
		position: relative;

		> h3 {
			position: absolute;
			top: -12px;
			left: 15px;
			background: #444;
			padding: 0 10px;
      margin: 0;
		}

		+ div {
			margin-top: 30px;
		}
	}

  strong{
    padding-right: 10px;
  }
}


.MuiButton-root{
  svg{
    margin-right: 7px;
  }
}