body {
  background-color: #242424;
  margin: 0;
  height: 100%;
}

.main-container {
  color: #f2f2f2;
  display: flex;
  max-height: 100vh;
}

.sidebar{
  min-width: 200px;
  width: 30vw;
  max-height: 100vh;
  overflow: auto;
  height: 100vh;
  background-color: #1b1b1b;

  .lvl-campaign{
    background-color: #2b2b2b;
    &:hover{
      background-color: #2b2b2b;
    }
  }

  .lvl-variation{
    background-color: #3b3b3b;
    &:hover{
      background-color: #3b3b3b;
    }
  }
}

.main-content{
  flex: 1;
  background-color: #444;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .header{
    // flex: 1;
  }
  .main-content-wrap{
    flex: 1;
    max-height: 100vh;
    overflow: auto;
  }
}

.lvl-campaign{
  // padding-left: 30px !important;
}

.lvl-variation{
  // padding-left: 40px !important;
}

.collapse-icon{
  transition: all .3s;

  &.rotated-icon{
    transform: rotate(-180deg);
  }
}

#header-refresh-list{
  background-color: #242424;
  color: #f2f2f2;
  cursor: pointer;

  .hovering{
    display: none;
  }

  .hovering{
    display: none;
  }

  svg{
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
  }

  &:hover{
    .normal{
      display: none;
    }
    .hovering{
      display: block;
      // animation: slide-from-right .3s forwards;
    }
  }
}

.start-stop-test{
  float: right;
}

@keyframes slide-from-right {
  from{
    transform: translate(30px, 0)
  }
  to{
    transform: translate(0, 0)
  }
}

.header{
  background-color: #242424;
  padding: 10px;

  h1{
    margin: 0;
    font-size: 18px;
    line-height: 28px;

    span{
      font-weight: 400;
    }
  }
  
  .con-info{
    float:right;
		font-weight: 500;
		color: #333;
		border: 1px solid;
		padding: 1px 5px;
		font-size: 12px;
		border-radius: 3px;
		line-height: 1.7em;
    margin-top: 2px;

		&.is-con{
			color: green;
		}

		&.not-cont{
			border-color: lightcoral;
      color: lightcoral;
		}
	}
}

.main-content-wrap{
  padding: 10px;
  line-height: 1.7;
}

.variation-details{
  h1{
    margin: 0;
    line-height: 1;
  }

  .a-copy{
    float: right;
  }
}

.file-stats {
	margin: 15px 0;

	> div {
		border: 1px solid rgb(117, 117, 117);
		border-radius: 5px;
		padding: 15px 10px 10px;
		position: relative;
    color: rgb(194, 194, 194);

		> h3 {
			position: absolute;
			top: -12px;
			left: 15px;
			background: #444;
			padding: 0 10px;
      margin: 0;
		}

		+ div {
			margin-top: 20px;
		}
	}

  strong{
    padding-right: 10px;
  }
}


.MuiButton-root{
  svg{
    margin-right: 7px;
  }
}

.active-tests{
  margin: 10px -10px -10px;

  .active-test{
    background-color: rgb(0, 83, 0);
    color: rgb(44, 187, 44);
    padding: 4px 10px;
    border-radius: 0;
    font-size: 12px;
    text-transform: none;
    width: 100%;
    justify-content: flex-start;
    cursor: pointer;
    
    strong{
      margin-right: 5px;
    }

    &:hover{
      background-color: rgb(27, 148, 27);
      color: #fff;
    }
  }
}

.footnote{
  position: absolute;
  bottom: 0;
  left:0;
  background-color: #444;
  width: 100%;
  padding: 3px 10px;
  box-sizing: border-box;
  font-size: 10px;
  text-align: right;
}

.loading-wrap{
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 23px;
  background-color: #444;
  z-index: 10;
  text-align: center;
  opacity: 0;
  padding: 10px;

  animation: fade-in .3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.campaign-variation-title{
  svg{
    vertical-align: middle;
  }
}

.variation-details{
  h1{
    font-size: 18px;
    margin: 0;
  }

  h3{
    margin-top: 5px;
  }
}